#login-wrap{width:1140px; margin:0 auto;margin-top:15px ;font-family: "微软雅黑";overflow: hidden;}
.login-box{border: 2px #d9d9d9 dashed;background: #f8f8f8; padding:20px;margin-right: 0px;
width:500px;height:320px;float: left;margin-left:26px;}
.login-box h4{margin-left: 20px; font-size: 15px;font-weight: normal;}
.login-box h4 span{color: #d90000;font-size: 10px;}
.login-box dl{margin-top: 20px;}
.login-box dl dd{height: 28px;line-height: 28px;margin-top: 15px;}
.login-box dl dd span{width:65px;font-size: 14px;text-align:right;height:28px;display: block;float: left;margin:0 5px;}
.login-box dl dd input{border: 1px solid #ccc;width:200px;height:25px;float: left;margin:0 5px;}
.login-box dl dd .last{width: 120px;}
.login-box dl dd img{padding-top: 3px;cursor: pointer;}
.login-box dl dt{margin-left: 80px;margin-top: 10px;font-size: 14px;}
#login{width: 106px;height: 30px;cursor: pointer;background: url(../images/zhuce.gif) no-repeat center;}
#entry{width: 106px;height: 30px;cursor: pointer;background: url(../images/denglu.gif) no-repeat center;}
.code strong{border: 1px solid #ccc;cursor:pointer;width: 40px;height:20px;display: inline-block;text-align: center;margin-top:5px ;line-height: 20px;opacity: 0.6;}
.code b{margin-left:10px;cursor: pointer;}
